{% extends "base.html" %}
{% block title %}Articles{% endblock %}
{% block content %}

  <div class="content is-large" align="center">
    <h1>Articles</h1>
  </div>
  <div class="buttons has-addons is-centered" >
      <a class="button nav-link">Trending</a>
      <a class="button is-info is-selected nav-link" >Last 10</a>
      <a class="button nav-link" >Recommended</a>
  </div>



    <div id="articles">
    {%  for article in articles %}
      <div class="card border-dark">
        <div class="card-header d-flex justify-content-between align-items-center">
            <a>{{ article.title }}</a>
              <a class="button is-info nav-link" href={{ article.title_link }}>
                <strong>Link</strong>
              </a>
        </div>

        <div class="card-body">
          <div class="card-text">{{article.snippet}}</div>
          <br />
        </div>
        <div class="card-footer text-muted">{{article.publication_info}}</div>
      </div>
        <br/>
    {% endfor %}
    </div>

{% endblock %}