{% extends "base.html" %}
{% block title %}Create a Post{% endblock %}
{% block content %}
    <br/>

  <div class="content is-large" align="center">
    <h1>New Post</h1>
  </div>

<form method="POST">
  <textarea name="text" id="text" class="form-control" rows="8"></textarea>
  <br />
  <div align="center">
    <button type="submit" class="button is-primary">Post</button>
  </div>
</form>
<br />
<div align="center">
  <a href="/posts"
    ><button type="button" class="button is-info">Back</button></a
  >
</div>
{% endblock %}