{% extends "base.html" %}
{% block title %}Resources{% endblock %}
{% block content %}
<br/>
<div class="content is-large" align="center">
    <h1>Resources</h1>
</div>

  <div class="buttons has-addons is-centered" >
      <a class="button nav-link" href="/resources/books" >Books</a>
      <a class="button nav-link" href="/resources/github">GitHub</a>
      <a class="button is-info is-selected nav-link" href="/resources/yt">YouTube</a>
      <a class="button nav-link" href="/resources/blogs">Blogs</a>
      <a class="button nav-link" href="/resources/courses">Courses</a>
  </div>
{% endblock %}