{% extends "base.html" %}
{% block title %}Resources{% endblock %}
{% block content %}

<div class="content is-large" align="center">
    <h1>Resources</h1>
</div>

  <div class="buttons has-addons is-centered" >
      <a class="button is-info is-selected nav-link" href="/resources/books" >Books</a>
      <a class="button nav-link" href="/resources/github">GitHub</a>
      <a class="button nav-link" href="/resources/yt">YouTube</a>
      <a class="button nav-link" href="/resources/blogs">Blogs</a>
      <a class="button nav-link" href="/resources/courses">Courses</a>
  </div>

<table class="table is-hoverable">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Author</th>
      <th>Release</th>
      <th>Abstract</th>
      <th>Price</th>
      <th>Link</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>Hands-On Machine Learning with Scikit-Learn and Tensorflow</td>
      <td>Aurélien Géron</td>
      <td>03.24.2017</td>
      <td>You'll learn a range of techniques,
          starting with simple linear regression and progressing to deep neural networks.
          With exercises explore the machine learning landscape, particularly neural nets ;
          Use Scikit-Learn to track an example machine learning project end-to-end ; Explore several training models,
          including support vector machines, decision trees, random forests, and ensemble methods ;
          Use the TensorFlow library to build and train neural nets ; Dive into neural net architectures,
          including convolutional nets, recurrent nets, and deep reinforcement learning ; Learn techniques
          for training and scaling deep neural nets ; a Apply practical code examples without acquiring
          excessive machine learning theory or algorithm details.</td>
      <td>40€</td>
      <td><a href="https://www.amazon.fr/Hands-Machine-Learning-Scikit-Learn-TensorFlow/dp/1491962291" target="_blank"
             title="Hands-On Machine Learning with Scikit-Learn and Tensorflow">Buy</a></td>
    </tr>
  <tr>
      <th>2</th>
      <td>Deep Learning from Scratch: Building with Python from First Principles</td>
      <td>Seth Weidman</td>
      <td>09.20.2019</td>
      <td>You'll start with deep learning basics and move quickly to the details of important advanced architectures,
          implementing everything from scratch along the way.
          Author Seth Weidman shows you how neural networks work using a first principles approach.
          You'll learn how to apply multilayer neural networks, convolutional neural networks, and
          recurrent neural networks from the ground up. With a thorough understanding of how neural
          networks work mathematically, computationally, and conceptually, you'll be set up for success
          on all future deep learning projects.</td>
      <td>40€</td>
      <td><a href="https://www.amazon.fr/Deep-Learning-Scratch-Building-Principles/dp/1492041416" target="_blank"
             title="Deep Learning from Scratch: Building with Python from First Principles">Buy</a></td>
    </tr>
  </tbody>
</table>
{% endblock %}