{% extends "base.html" %}
{% block title %}Resources{% endblock %}
{% block content %}

<div class="content is-large" align="center">
    <h1>Resources</h1>
</div>

  <div class="buttons has-addons is-centered" >
      <a class="button nav-link" href="/resources/books" >Books</a>
      <a class="button nav-link" href="/resources/github">GitHub</a>
      <a class="button nav-link" href="/resources/yt">YouTube</a>
      <a class="button nav-link" href="/resources/blogs">Blogs</a>
      <a class="button is-info is-selected nav-link" href="/resources/courses">Courses</a>
  </div>


<table class="table is-hoverable">
  <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Author</th>
      <th>Duration</th>
      <th>Abstract</th>
      <th>Price</th>
      <th>Link</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>Deep Learning Specialisation</td>
      <td>DeepLearning.AI</td>
      <td> approx. 7h/week during 5 months</td>
      <td> 4 courses: <br/>
          - Build and train deep neural networks, identify key architecture parameters,
          implement vectorized neural networks and deep learning to applications. <br/>
          - Train test sets, analyze variance for DL applications, use standard techniques and optimization algorithms,
          and build neural networks in TensorFlow. <br/>
          - Build a CNN and apply it to detection and recognition tasks, use neural style transfer to generate art,
          and apply algorithms to image and video data. <br/>
          - Build and train RNNs, work with NLP and Word Embeddings, and use HuggingFace tokenizers and
          transformer models to perform NER and Question Answering.

      </td>
      <td>20€ / month</td>
      <td><a href="https://fr.coursera.org/specializations/deep-learning"
             title="Deep Learning Specialisation">Link</a></td>
    </tr>
      <tr>
      <th>2</th>
      <td>Tensorflow Developer Certificate</td>
      <td>Tensorflow.org</td>
      <td>5 hours exam</td>
      <td>Focused on the development of TensorFlow,
          this foundational certificate for students, developers, and data scientists
          who want to demonstrate their hands-on machine learning skills through building
          and training models with TensorFlow. <br/>
          Once the certificate is obtained, developers can join our network
          of certified specialists and add their certificate and badges on their CV,
          on GitHub and on social media platforms like LinkedIn to share their mastery
          of TensorFlow to the whole world.

      </td>
      <td>100$ / exam session</td>
      <td><a href="https://www.tensorflow.org/certificate?hl=fr"
             title="Tensorflow Developer Certificate">Link</a></td>
    </tr>
  </tbody>
</table>
{% endblock %}

